body {
    margin: 0;
    font-weight: 16px;
    color:rgb(255, 247, 247); 
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgb(75, 173, 165);
}

.container {

}

#side_menu {
    display: inline-block;
    padding: 10px;
    width: 20%;
    background: gray;
}

#main_menu {
    display: inline-block;
    width: 80%;
    background: lightgray;
    margin: 10 25%; 
    text-align: center;
}

table {
    width: 700px;
}

footer {
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* popup css section */

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
}

#msg {
    margin: 15% auto 0 auto;  
    text-align: center;
    width: 300px;
    height: 150px;
    background: rgb(75, 173, 165);
    border-radius: 50px;
}

#msgTxt {
    padding-top: 5%;
}

#closeBtn {
    float: right;
    width: 30px;
    height: 30px;
    background: rgb(123, 130, 146);
    border: 2px solid white;
    font-weight: bold;
    border-radius: 50%;
    
}

#closeBtn > span {
    position: relative;
    top: 2px;
    left: 0;
    font-size: 20px;
}

.hide {
    visibility: hidden;
}